version: 2.1

jobs:
  policy-and-deploy:
    docker:
      - image: cimg/base:stable

    steps:
      - checkout

      - run:
          name: Install tools
          command: |
            sudo apt-get update
            sudo apt-get install -y unzip curl jq

            wget https://releases.hashicorp.com/terraform/1.6.0/terraform_1.6.0_linux_amd64.zip
            unzip terraform_1.6.0_linux_amd64.zip
            sudo mv terraform /usr/local/bin/

            curl -L -o opa https://openpolicyagent.org/downloads/v0.58.0/opa_linux_amd64_static
            chmod +x opa
            sudo mv opa /usr/local/bin/

      - run:
          name: Authenticate to AWS (OIDC)
          command: |
            export AWS_ROLE_ARN="arn:aws:iam::<YOUR_ACCOUNT_ID>:role/CircleCILabRole"
            export AWS_WEB_IDENTITY_TOKEN_FILE="/tmp/web-identity-token"
            echo $CIRCLE_OIDC_TOKEN > $AWS_WEB_IDENTITY_TOKEN_FILE

            aws sts get-caller-identity

      - run:
          name: Terraform Plan
          command: |
            cd terraform
            terraform init
            terraform plan -out=tfplan
            terraform show -json tfplan > plan.json

      - run:
          name: OPA Policy Check (REAL)
          command: |
            cat > input.json << EOF
            {
              "type": "aws_s3_bucket",
              "encrypted": true,
              "public": false
            }
            EOF

            opa eval -d policies -i input.json "data.security.s3.deny" | tee result.txt

            if grep -q "S3 buckets" result.txt; then
              echo "âŒ Policy violation detected"
              exit 1
            fi

      - run:
          name: Terraform Apply (ONLY IF COMPLIANT)
          command: |
            cd terraform
            terraform apply -auto-approve

      - run:
          name: Cleanup
          command: |
            cd terraform
            terraform destroy -auto-approve
