version: 2.1

jobs:
  validate-and-deploy:
    docker:
      - image: cimg/base:stable

    steps:
      - checkout

      - run:
          name: Install tools
          command: |
            curl -L -o opa https://openpolicyagent.org/downloads/v0.58.0/opa_linux_amd64_static
            chmod +x opa
            sudo mv opa /usr/local/bin/

            sudo apt-get update
            sudo apt-get install -y unzip curl

            wget https://releases.hashicorp.com/terraform/1.6.0/terraform_1.6.0_linux_amd64.zip
            unzip terraform_1.6.0_linux_amd64.zip
            sudo mv terraform /usr/local/bin/

      - run:
          name: Run OPA tests
          command: |
            opa test policies/ tests/

      - run:
          name: Terraform Apply
          command: |
            cd terraform
            terraform init
            terraform apply -auto-approve

workflows:
  simple-success:
    jobs:
      - validate-and-deploy
